@model List<OnlineShop.Models.CartItem>
@{
    ViewBag.Title = "HeaderCart";
}

<div id="cart"><a class="btn btn-1" href="~/Cart/Index"><span class="glyphicon glyphicon-shopping-cart"></span>CART : @Model.Count Sản phẩm </a></div>

