@model List<Model.EF.SanPham>
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-content" class="single-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="~/Home/Index">Home</a></li>
                    <li>Thể loại</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div id="main-content" >
                <div class="row">
                        <div class="products">
                            @foreach (var item in Model)
                            {
                                <div class="col-lg-4 col-md-4 col-xs-12">
                                    <div class="product">
                                        <div class="image"><a href="~/Product/DetailProduct/@item.MaSach"><img src="@item.HinhAnh" /></a></div>
                                        <div class="buttons">
                                            <a class="btn cart" href="/them-gio-hang?MaSach=@item.MaSach&SoLuong=1"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                                            <a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
                                            <a class="btn compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a>
                                        </div>
                                        <div class="caption">
                                            <div class="name"><h3><a href="~/Product/DetailProduct/@item.MaSach">@item.TenSach</a></h3></div>
                                            <div class="price">$@item.DonGia</div>
                                            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
 </div>
    

